<% layout('layouts/boilerplate'); %>

<div class="row">
<div class="col-6 offset-3">
    <div class="card mb-2">
        <img src="<%= campground.image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= campground.location %></li>
            <li class="list-group-item">
              $<%= campground.price %>/night
            </li>
          </ul>
          <div class="card-body">
            <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">edit</a>
            <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="delete">
            </form>         
         </div>
</div>

</div>

</div>
